
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="container">
    <div class="row">
        <div class="feature-block cf mt-30">
            <div class="col-md-4">
                <a href="http://webtruyenonline.com/threads/thu-moi-cong-tac-vien-ctv.31/" target="_blank"><img src="~/images/bnr_ctv.png" alt="Chia sẻ truyện cùng webtruyenonline" title="Chia sẻ truyện cùng webtruyenonline" /></a>
                <a href="http://myphamzozomoon.vn/my-pham-zozomoon" target="_blank"><img src="http://myphamzozomoon.vn/my-pham-zozomoon.jpg" class="mt-15" alt="Kem Trị Nám, Serum Trị Nám  tàn nhang dưỡng trắng da" title="Kem Trị Nám, Serum Trị Nám  tàn nhang dưỡng trắng da" /></a>
            </div>
            <div class="col-md-8">

                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                        <li data-target="#myCarousel" data-slide-to="6"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div style="position:relative">
                                <img class="seventh-slide" src="~/images/feature_thuongan.jpg" alt="Thượng Ẩn" title="Thượng Ẩn" />
                                <a href="/truyen/thuong-an.4421/" target="_blank" class="btn btn-default" style="position: absolute;top: 50%;right: 50px;width: 28%;">Đọc truyện</a>
                                <a href="http://tamnhinso.info/phim/thuong-an-nghien.1115/" target="_blank" class="btn btn-default" style="    position: absolute;top: 61%;right: 50px;width: 28%;">Xem phim</a>
                            </div>
                        </div>
                        <div class="item">
                            <a href="/truyen/sirens-lament.5063/" target="_blank"><img class="first-slide" src="~/images/siren.png" alt="Siren's Lament" title="Siren's Lament" /></a>
                        </div>
                        <div class="item">
                            <a href="/the-loai/ngon-tinh.23/" target="_blank"><img class="second-slide" src="~/images/feature_01.jpg" alt="Ngôn tình" title="Ngôn tình" /></a>
                        </div>
                        <div class="item">
                            <a href="/the-loai/truyen-teen.46/" target="_blank"><img class="third-slide" src="~/images/feature_truyenteen.jpg" alt="Truyện Teen" title="Truyện Teen" /></a>
                        </div>
                        <div class="item">
                            <a href="/the-loai/huyen-huyen.31/" target="_blank"><img class="fourth-slide" src="~/images/feature_huyenhuyen.jpg" alt="Huyền huyễn" title="Huyền huyễn" /></a>
                        </div>
                        <div class="item">
                            <a href="/the-loai/kiem-hiep.42/" target="_blank"><img class="fifth-slide" src="~/images/feature_kiemhiep.jpg" alt="Kiếm hiệp" title="Kiếm hiệp" /></a>
                        </div>
                        <div class="item">
                            <a href="/the-loai/tien-hiep.50/" target="_blank"><img class="sixth-slide" src="~/images/feature_tienhiep.jpg" alt="Tiên hiệp" title="Tiên hiệp" /></a>
                        </div>

                    </div>
                </div>
                <script>
    $(function () {
    $('#myCarousel').carousel({
        interval:2500,
        pause: "false"
    });

});
                </script>

            </div>
        </div>
        <div class="cf mt-40 mb-20">
            <div class="col-md-12">
                <center>
                </center>
                <center>
                    </br>
                    </br>
                </center>
            </div>
        </div>
        <div class="cf">
            <div class="col-md-12">
                <p class="h1-title"><a href="truyen-moi-cap-nhat/">Mới cập nhật</a></p>
                <div class="new-update">
                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Truyện</th>
                                <th>Thể loại</th>
                                <th class="text-center">Chương</th>
                                <th>Cập nhật</th>
                            </tr>
                        </thead>
                        @foreach (var item in this.ViewBag.StoryNewUpdate)
                        {
                            <tr>
                                <td><a href="/Story?ActionCmd.StoryId=@item.StoryId" title="@item.Name">@item.Name</a></td>
                                <td>
                                    @{
                                        var cmd = new TagGetByIdAction();
                                        cmd.StoryId = item.StoryId;
                                        var tag = cmd.Execute().Data;
                                    }
                                    @foreach (var items in tag)
                                    {
                                        <a href="/Category/@items.CategoryId">@items.Name</a>
                                    }

                                </td>
                                <td class="text-center"><a href="@string.Format("/Story?ActionCmd.StoryId={0}&ActionCmd.ChapterId={1}",item.StoryId,item.TotalChapter)">@item.TotalChapter</a></td>
                                <td>@item.EditDate</td>
                            </tr>
                        }


                    </table>
                </div>
            </div>
            
        </div>

        <div class="col-md-12">
            <p class="h1-title"><a href="truyen-hot/">Truyện xem nhiều</a></p>
            <div class="row">
                @foreach (var item in this.ViewBag.StoryView)
                {
                    <div class="col-md-3 col-xs-6 col-sm-4 books-item heightLine-09">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/Story?ActionCmd.StoryId=@item.StoryId"><img src="@item.Image" alt="@item.Name" title="@item.Name" class="img-thumbnail" /></a>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/Story?ActionCmd.StoryId=@item.StoryId" class="list-title " alt="@item.Name">@item.Name</a></h2>
                                <h3 class="index-genre">
                                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                                    @{
                                        var tags = new TagGetByIdAction();

                                        tags.StoryId = item.StoryId;
                                        var dataTag = tags.Execute().Data;
                                    }
                                    @foreach (var items in dataTag)
                                    {
                                        <a href="/category/@items.CategoryId">@items.Name</a>@string.Format(",")
                                    }
                                </h3>

                                    <p>
                                        <i class="fa fa-file-text" aria-hidden="true"></i>
                                        @item.TotalChapter<span class="full">@item.StatusName</span>
                                    </p>
</div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</div>